.btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  background-color: wheat;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  max-width: 140px;
}

.btn:hover {
  color: rgb(13, 13, 60);
}
